version: '3' 

services:
  jenkins:
    image: 'sonatype/nexus3:latest'
    container_name: nexus
    restart: unless-stopped
    hostname: {{nexus_domain}}
    volumes:
      - {{directory_volumes_devtools}}/nexus:/nexus-data
      - /etc/localtime:/etc/localtime:ro

networks:
  default:
    external:
      name: proxy_network
